<div class="container">
  <div class="row justify-content-center">
    <div class="login">
      <h1>Seja bem-vindo ao Gambling!</h1>
      <div class="form">
        <form method="post" (submit)="login()">
          <input [formControl]="username" type="text" placeholder="Usuário" required>
          <input [formControl]="password" type="password" placeholder="Senha"
            required="required" />
          <button type="submit" class="btn btn-primary btn-block btn-large">Entrar</button>
        </form>
      </div>
    </div>
  </div>
</div>