<div class="container">
  <div class="row justify-content-center">
    <div class="login">
      <h1>Seja bem-vindo ao Gambling!</h1>
      <div class="form">
        <form (ngSubmit)="login()">
          <input (keyup)="onChange('username', $event)" type="text" placeholder="Usuário" required>
          <input (keyup)="onChange('password', $event)" type="password" name="p" placeholder="Senha" required/>
          <button type="submit" class="btn btn-primary btn-block btn-large">Entrar</button>
        </form>
      </div>
    </div>
  </div>
</div>
