<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-sm-12 col-md-12">
      <table class="table bg-secondary" *ngFor="let game of games">
        <thead>
          <tr>
            <td colspan="2" class="align-text-center text-accent">
              {{game.titulo}}
            </td>
          </tr>
        </thead>
        <tbody class="text-accent align-text-center">
          <tr *ngFor="let jogo of game.jogos" [routerLink]="['/match', jogo.id]">
            <th class="text-accent">{{jogo.horario}}</th>
            <td>
              <div class="teams">
                <div class="team">
                  <div class="team1">
                    {{jogo.time1.nome}}
                    <img src={{jogo.time1.logo}} class="logo-img">
                  </div>
                </div>
                <div class="versus">vs</div>
                <div class="team">
                  <div class="team2">
                    <img src={{jogo.time2.logo}} class="logo-img">
                    {{jogo.time2.nome}}
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
