<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-4 col-sm-12 col-md-12">
      <table class="table bg-secondary">
        <thead>
          <tr>
            <td colspan="3" class="align-text-center text-accent">
              CBLOL {{name}}
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" class="text-accent">1</th>
            <td><img src="../../assets/pain.png" alt="" height="40px"></td>
            <td class="text-accent">
          <tr>PaiN</tr>
          <tr>7W - 1L</tr>
          </td>
          </tr>
          <tr>
            <th scope="row" class="text-accent">2</th>
            <td><img src="../../assets/santos.png" alt="" height="40px"></td>
            <td class="text-accent">
          <tr>Santos</tr>
          <tr>6W - 2L</tr>
          </td>
          </tr>
          <tr>
            <th scope="row" class="text-accent">3</th>
            <td><img src="../../assets/intz.png" alt="" height="40px"></td>
            <td class="text-accent">
          <tr>INTZ</tr>
          <tr>5W - 3L</tr>
          </td>
          </tr>
          <tr>
            <th scope="row" class="text-accent">4</th>
            <td><img src="../../assets/flamengo.png" alt="" height="40px"></td>
            <td class="text-accent">
          <tr>Flamengo</tr>
          <tr>4W - 4L</tr>
          </td>
          </tr>
          <tr>
            <th scope="row" class="text-accent">5</th>
            <td><img src="../../assets/kabum.png" alt="" height="40px"></td>
            <td class="text-accent">
          <tr>Kabum</tr>
          <tr>4W - 4L</tr>
          </td>
          </tr>
          <tr>
            <th scope="row" class="text-accent">6</th>
            <td><img src="../../assets/furia.png" alt="" height="40px"></td>
            <td class="text-accent">
          <tr>Furia</tr>
          <tr>3W - 5L</tr>
          </td>
          </tr>
          <tr>
            <th scope="row" class="text-accent">7</th>
            <td><img src="../../assets/keyd.png" alt="" height="40px"></td>
            <td class="text-accent">
          <tr>Keyd</tr>
          <tr>2W - 6L</tr>
          </td>
          </tr>
          <tr>
            <th scope="row" class="text-accent">8</th>
            <td><img src="../../assets/prodigy.png" alt="" height="40px"></td>
            <td class="text-accent">
          <tr>Prodigy</tr>
          <tr>1W - 7L</tr>
          </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-4 col-sm-12 col-md-12">
      <table class="table bg-secondary">
        <thead>
          <tr>
            <td colspan="3" class="align-text-center text-accent">
              HALL DA FAMA
            </td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of hall; let i = index">
            <th scope="row" class="text-accent">{{i+1}}</th>
            <td><img src={{user.time}} alt="" height="40px"></td>
            <td class="text-accent">
          <tr>{{user.username}}</tr>
          <tr>{{user.gamblings}} Gamblings</tr>
          </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
